body {
    font-family:"Roboto", sans-serif;
}
h1{
    color: #63bfec;
    font-size: 18px;
}
p{
    font-size: 15px;
    margin-left: 20px;
    padding-right: 350px;
    border-left: 8px solid #63bfec;
    padding-left: 10px; 
}
/*=============================================
----------------------Mantenimiento------------
===============================================*/
.datos_img{
    float:right;
    width: 300px; 
    box-shadow: 2px 8px 20px rgb(127, 127, 127);
    margin-right: 30px;
}
/*==============================================
----------------------Cleaner-------------------
===============================================*/
.cleaner_img{
  width: 700px; 
   margin:40px auto 40px auto;
  border: 3px solid rgba(0, 0, 0, 0.801);
  display:block;
}
/*==============================================
---------------------Recurva--------------------
===============================================*/
.recurva_img{
    width: 400px; 
    margin:40px auto 40px auto;
   border: 3px solid rgba(0, 0, 0, 0.801);
   margin-left: 200px;
}
