body {
    font-family:"Roboto", sans-serif;
}
h1{
    color: #63bfec;
    font-size: 18px;
}
p{
    font-size: 15px;
    margin-left: 20px;
    padding-right: 50px;
    border-left: 8px solid #63bfec;
    padding-left: 10px; 
}
h2{
    font-size: 20 px;
    margin-left: 20px;
    padding-right: 50px;
    padding-left: 10px;;
}
article{
    margin-top: 100px;
}
/*==============================================
----------------------Imagenes-------------------
===============================================*/
.imagenClonezilla{
  width: 500px; 
   margin:40px auto 40px auto;
  border: 3px solid rgba(0, 0, 0, 0.801);
  display:block;
}
/*==============================================
---------------------Recurva--------------------
===============================================*/



